@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@import 'tailwindcss';

@theme {
  /* ###################  COLORS  ################### */

  /* Black */

  --color-jf-black-50: #f5f6fa;
  --color-jf-black-100: #e4e6ed;
  --color-jf-black-200: #c6c9d6;
  --color-jf-black-300: #a2a7b8;
  --color-jf-black-400: #6f748c;
  --color-jf-black-500: #020817;
  --color-jf-black-600: #010614;
  --color-jf-black-700: #010511;
  --color-jf-black-800: #00040e;
  --color-jf-black-900: #00030b;

  /* Blue */

  --color-jf-blue-50: #ececff;
  --color-jf-blue-100: #dadaff;
  --color-jf-blue-200: #b7b8fa;
  --color-jf-blue-300: #999af7;
  --color-jf-blue-400: #7d7ef4;
  --color-jf-blue-500: #6467f2;
  --color-jf-blue-600: #4d50e0;
  --color-jf-blue-700: #3c3fc0;
  --color-jf-blue-800: #2f3198;
  --color-jf-blue-900: #26276e;

  /* WARM-GRAY */

  --color-jf-warm-gray-50: #faf9f9;
  --color-jf-warm-gray-100: #f2f0f0;
  --color-jf-warm-gray-200: #dddada;
  --color-jf-warm-gray-300: #c5c2c2;
  --color-jf-warm-gray-400: #a9a6a6;
  --color-jf-warm-gray-500: #71717a;
  --color-jf-warm-gray-600: #5f5f66;
  --color-jf-warm-gray-700: #49494e;
  --color-jf-warm-gray-800: #353538;
  --color-jf-warm-gray-900: #262628;

  /* LIGHT-GRAY */

  --color-jf-gray-50: #f9fafb;
  --color-jf-gray-100: #f3f4f6;
  --color-jf-gray-200: #e5e7eb;
  --color-jf-gray-300: #d1d5db;
  --color-jf-gray-400: #9ca3af;
  --color-jf-gray-500: #6b7280;
  --color-jf-gray-600: #4b5563;
  --color-jf-gray-700: #374151;
  --color-jf-gray-800: #1f2937;
  --color-jf-gray-900: #111827;

  /* ROSE */

  --color-jf-rose-50: #fcf8f7;
  --color-jf-rose-100: #ffeceb;
  --color-jf-rose-200: #fce1de;
  --color-jf-rose-300: #fabfba;
  --color-jf-rose-400: #ff9d94;
  --color-jf-rose-500: #e35d56;
  --color-jf-rose-600: #db4942;
  --color-jf-rose-700: #c43c35;
  --color-jf-rose-800: #a60000;
  --color-jf-rose-900: #7a0c0c;

  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-muted-foreground: #71717a;
  --color-primary: #6467f2;
  --color-success: #21c45d;
  --color-negative: #ef4343;
  --color-warn: #ecc94b;

  --color-base-font-color: #020817;
  --color-border: #e4e4e7;
}

@layer base {
  * {
    @apply border-border m-0 box-border p-0 text-base leading-5 font-normal;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
      'slnt' 0,
      'CRSV' 1,
      'SHRP' 25;
  }
}

@layer utilities {
  .font-paragraph-1 {
    @apply text-base-font-color text-lg leading-6 font-normal tracking-tight;
  }

  .font-paragraph-2 {
    @apply text-base-font-color text-base leading-5 font-normal tracking-tight;
  }

  .font-paragraph-2-muted {
    @apply text-muted-foreground text-base leading-5 font-normal tracking-tight;
  }

  .font-paragraph-3 {
    @apply text-base-font-color text-sm leading-4 font-normal tracking-tight;
  }

  .font-paragraph-3-muted {
    @apply text-muted-foreground text-sm leading-4 font-normal tracking-tight;
  }

  .font-paragraph-3-primary {
    @apply text-primary text-sm leading-4 font-normal tracking-tight;
  }

  .font-heading-1 {
    @apply text-base-font-color text-5xl leading-12 font-semibold tracking-tight;
  }

  .font-heading-2 {
    @apply text-base-font-color text-3xl leading-9 font-semibold tracking-tight;
  }

  .font-heading-3 {
    @apply text-base-font-color text-2xl leading-6 font-semibold tracking-tight;
  }

  .font-caption {
    @apply text-base-font-color text-xs leading-3 font-normal tracking-tight;
  }

  .font-label {
    @apply text-base-font-color text-sm leading-4 font-medium tracking-tight;
  }

  .font-error {
    @apply text-negative text-xs leading-3 font-medium tracking-tight;
  }

  .placeholder-font::placeholder {
    @apply text-foreground/50 text-sm;
  }
}
