@import "tailwindcss";

@theme {
  --font-main: "Geologica", sans-serif;
  --font-header: "Sen", "sans-serif";
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  padding-top: 70px;
  box-sizing: border-box;
  position: relative;
}
